.footer.hidden-print
  img(src="/assets/images/footer.png", width="100%", height="auto")
  .footer-container
    .container
      .row
        .col-sm-6
          img.img-responsive.center-block(src="/assets/images/logo.svg")
        .col-sm-6
          dl.dl-horizontal
            dt Web
            dd: a(href="http://jumplink.eu") jumplink.eu
            dt Version
            dd v#{cmsInfo.version}
            dt Technik &amp; Design
            dd: a(href="mailto:pascal@jumplink.eu") Pascal Garber
            dt Runtime
            dd #{cmsInfo.runtime.title} #{cmsInfo.runtime.version}
            dt License
            dd #{cmsInfo.license}
            dt Environment
            dd #{cmsInfo.config.environment}
            dt Port
            dd #{cmsInfo.config.port}
          dl.dl-horizontal
            dt Extras
            dd: a(href="/?force=modern") Modernen Modus erzwingen